body{
    margin:0;
    background:#1d1d1d;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
}

header{
    background:#333;
    padding:20px;
    text-align:center;
}

#classGrid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:15px;
    padding:20px;
}

.classCard{
    background:#2c2c2c;
    border-radius:12px;
    cursor:pointer;
    text-align:center;
    transition:.2s;
    padding:15px;
}

.classCard:hover{
    transform:scale(1.05);
    background:#3a3a3a;
}

.classCard img{
    width:80px;
}

#loadout{
    padding:25px;
}

#weaponSlots{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.weapon{
    width:180px;
    background:#2b2b2b;
    border-radius:12px;
    padding:15px;
    text-align:center;
}

.weapon img{
    width:100px;
}

.weapon select{
    width:100%;
    margin-top:10px;
    padding:6px;
}